.product-tile {
  position: relative;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  position: relative;
}

.product-image:hover {
  transform: scale(1.2);
  z-index: 1;
}

.zoomed-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.product-details {
  padding-top: 10px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 14px;
  color: #777777;
}

.skeleton-loader {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  animation: skeleton-loading 1s infinite alternate;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.skeleton-image {
  width: 100%;
  height: 170px;
  background-color: #f0f0f0;
}


.skeleton-details {
  padding: 10px;
}

.skeleton-title {
  width: 70%;
  height: 16px;
  background-color: #f0f0f0;
  margin-bottom: 8px;
}

.skeleton-description {
  width: 90%;
  height: 12px;
  background-color: #f0f0f0;
  margin-bottom: 8px;
}

.skeleton-price {
  width: 40%;
  height: 14px;
  background-color: #f0f0f0;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f0f0f0;
  }
}
.product-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-list-item .product-image {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.product-list-item .product-details {
  flex-grow: 1;
}

.product-list-item .product-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-list-item .product-description {
  font-size: 14px;
  color: #777777;
}
