<div class="container">
  <mat-card class="my-3">
    <mat-card-header>
      <mat-card-title><span>{{ 'productCategories' | translate }}</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip role="button" *ngFor="let category of categories" (click)="selectCategory(category)"
          [ngClass]="{ 'selected-chip': categoryFilter.value?.includes(category) }">
          {{ category }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>
  <div class="d-flex justify-content-end mb-5">
    <mat-button-toggle-group [(ngModel)]="currentView" (change)="toggleView($event.value)">
      <mat-button-toggle value="card">
        <mat-icon>view_module</mat-icon> <!-- Replace 'Card View' text with the 'view_module' icon -->
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>view_list</mat-icon> <!-- Replace 'List View' text with the 'view_list' icon -->
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  

  <div class="product-grid">
    <ng-container *ngIf="loading; else productContent">
      <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="col-md-4 d-inline-block mb-3">
        <div class="product-card skeleton-loader">
          <div class="skeleton-image"></div>
          <div class="skeleton-details">
            <div class="skeleton-title"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-price"></div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #productContent>
      <ng-container [ngTemplateOutlet]="currentView === 'card' ? card : list"></ng-container>
      <div class="pagination">
        <mat-paginator [length]="filteredProducts.length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </ng-template>
  </div>

  <ng-template #card>
    <div [@cardView]="currentView" class="row">
      <div *ngFor="let product of paginatedProducts" class="col-md-4 mb-3" [@productAnimation]>
        <div class="product-card px-3">
          <div class="product-image mb-2" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
          <div class="card-body">
            <h5 class="card-title product-title">{{ product.title }}</h5>
            <p class="card-text product-description">{{ product.description | truncate: 100 }}</p>
            <div class="d-flex flex-row-reverse">
              <div class="product-price">{{ product.price | currency }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #list>
    <div [@cardView]="currentView">
      <div *ngFor="let product of paginatedProducts" class="col-md-6 d-inline-block mb-3" [@productAnimation]>
        <div class="product-list-item px-3">
          <div class="product-image" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
          <div class="product-details">
            <h5 class="product-title">{{ product.title }}</h5>
            <p class="product-description">{{ product.description | truncate: 100 }}</p>
            <div class="product-price">{{ product.price | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
