/* MatPaginator styles */
::ng-deep .mat-paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

::ng-deep .mat-paginator-page-size-label {
  margin-right: 5px;
}

::ng-deep .mat-paginator-range-label {
  margin-right: 5px;
}

::ng-deep .mat-paginator-navigation-previous,
::ng-deep .mat-paginator-navigation-next {
  min-width: auto;
  margin-left: 10px;
}

/* Skeleton loader styles */
.skeleton-loader {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  animation: skeleton-loading 1s infinite alternate;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.skeleton-image {
  width: 100%;
  height: 170px;
  background-color: #f0f0f0;
}

.skeleton-details {
  padding: 10px;
}

.skeleton-title {
  width: 70%;
  height: 16px;
  background-color: #f0f0f0;
  margin-bottom: 8px;
}

.skeleton-description {
  width: 90%;
  height: 12px;
  background-color: #f0f0f0;
  margin-bottom: 8px;
}

.skeleton-price {
  width: 40%;
  height: 14px;
  background-color: #f0f0f0;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f0f0f0;
  }
}
.product-image {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  position: relative;
}

.product-image:hover {
  transform: scale(1.2);
  z-index: 1;
}


.product-list-item .product-details {
  flex-grow: 1;
}

.product-list-item .product-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-list-item .product-description {
  font-size: 14px;
  color: #777777;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: visible;
}

.product-list-item .product-image {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.product-price {
  color: #3f51b5;
  font-size: large;
  font-weight: bold;
}
.mat-mdc-chip {
  * {
    cursor: pointer;
  }
  
  &:not(.mdc-evolution-chip--disabled).selected-chip {
    background-color: blue;
    ::ng-deep span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      color: white !important;
    }
  }
}