<div class="container">
  <mat-card class="my-3">
    <mat-card-header>
      <mat-card-title><span>{{ 'productCategories' | translate }}</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip role="button" *ngFor="let category of categories" (click)="selectCategory(category)"
          [ngClass]="{ 'selected-chip': categoryFilter.value?.includes(category) }">
          {{ category }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>

  <div class="product-grid">
    <ng-container *ngIf="loading; else productContent">
      <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="col">
        <div class="product-card skeleton-loader">
          <div class="skeleton-image"></div>
          <div class="skeleton-details">
            <div class="skeleton-title"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-price"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #productContent>
      <div *ngFor="let product of filteredProducts" class="col">
        <div class="product-card">
          <div class="product-image" [ngStyle]="{'background-image': 'url(' + product.image + ')'}">
          </div>
          <div class="card-body">
            <h5 class="card-title product-title">{{ product.title }}</h5>
            <p class="card-text product-description">{{ product.description | truncate: 100 }}</p>
            <div class="d-flex flex-row-reverse">
              <div class="product-price">{{ product.price | currency }}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
